#list-unstyled {
    list-style: none;
}

#all-tasks label:has(input:checked) { /*si label a son input coché alors {...} */
    text-decoration: line-through;
}

form .form-group {
    margin: 0.5em 0;
}

/* Priorities */

.high {
    color: red;
}

.normal {
    color: forestgreen;
}

.low {
    color: blue;
}

.none {
    color: black;
}


/* Categories */

.work {
    color: silver;
}

.studies {
    color: silver;
}

.food {
    color: silver;
}

.house {
    color: silver;
}

.sport {
    color: silver;
}

.hygiene {
    color: silver;
}

.hobbies {
    color: silver;
}

.other {
    color: silver;
}

.noCategory {
    color: silver;
}


/* Fonts */

/* Roboto regular - pour les titres */

@font-face {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/*Poppins regular - pour les labels */
@font-face {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Lato regular - pour les spans*/
@font-face {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}


/* Style */

/*body {
    background-color: #fae976;
}*/

h1 {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#choose-language {
    display: flex;
    flex-direction: column;
}

#change-lang-btn {
    margin: 1em 0 2em 0;
}

/* Trouver comment réduire le bg-color sans réduire le form
.section-form {
    background-color: #fff;
}*/

#all-tasks {
    background-color: #fff;
    width: 50%;
}

#create-task-form {
    background-color: #fff;
}

.d-flex {
    display: flex;
}

legend {
    padding: 2px 11px 2px 11px;
}

fieldset {
    width: 40%;
    padding-bottom: 35px;
    background-color: #fff;
    flex-wrap: nowrap;
}

label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
}

span {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 0.5em;
}

i {
    padding: 0 0 5px 3.5px; /*top right bottom left*/
    vertical-align: middle;
    font-weight: 600;
    font-size: 16px;
    color: #303030;
}

.input {
    padding: 0.3em;
}

#add-btn {
    margin: 0.5em 0 0 0.1em;
}

#display-btn {
    margin: 0.5em 0 0 0.1em;
}

.button {
    margin: 1em 0 0 0.1em; /*top right bottom left*/
}

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.drop-link {
    padding: 0 5px;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Le contenu du dropdown est caché par défaut*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.dropdown-content a {
    display: block;
    color: black;
    padding: 1em 2em;
    text-decoration: none;
    min-width: 10em;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dropdown-content a:hover {
    background-color: #fbfaf5;
    border-radius: 5px;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

.lang-change:focus {
    color: firebrick;
    text-decoration: underline;
}

.flag {
    width: 15%;
    padding-right: 8px;
}
