#list-unstyled {
    list-style: none;
}

#all-tasks label:has(input:checked) { /*si label a son input coché alors {...} */
    text-decoration: line-through;
}

form .form-group {
    margin: 0.5em 0;
}


/* Priorities */

.high {
    color: red;
}

.normal {
    color: forestgreen;
}

.low {
    color: blue;
}

.none {
    color: black;
}


/* Categories */

.work {
    color: silver;
    margin-left: 0.5em;
}

.studies {
    color: silver;
    margin-left: 0.5em;
}

.food {
    color: silver;
    margin-left: 0.5em;
}

.house {
    color: silver;
    margin-left: 0.5em;
}

.sport {
    color: silver;
    margin-left: 0.5em;
}

.hygiene {
    color: silver;
    margin-left: 0.5em;
}

.hobbies {
    color: silver;
    margin-left: 0.5em;
}

.other {
    color: silver;
    margin-left: 0.5em;
}

.none {
    color: silver;
    margin-left: 0.5em;
}


/* Fonts */

/* Roboto regular - pour les titres */

@font-face {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/*Poppins regular - pour les labels */
@font-face {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Lato regular - pour les spans*/
@font-face {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}


/* Style */

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

span {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
