{% extends "base.html.twig" %}

{% block title %}Connexion - Todo list PHP
{% endblock %}

{% block favicon %}
	<link rel="icon" type="image/x-icon" href="../../assets/imgs/favicon-48x48.png">
{% endblock %}

{% block main %}
	<main class="d-flex form-main">
		<form action="/form/login" method="post">
			<div class="form-container">
				<h1>Connexion</h1>

				<div class="d-flex form-input">
					<label for="email" class="form-label">Adresse mail</label>
					<input type="email" name="email" id="email" required/>
				</div>

				<div class="d-flex form-input">
					<label for="password" class="form-label">Mot de passe</label>
					<input type="password" name="password" id="password" required/>
				</div>

				<div class="error-message">
					<p>{{ message }}</p>
				</div>

				<div class="d-flex submit-input">
					<input type="submit" name="login" class="d-flex" value="Se connecter"/>
				</div>
			</div>
		</form>
	</main>
{% endblock %}

{% block footer %}
	<footer class="footer-absolute">
		<div class="socials-icons d-flex">
			<a href="https://github.com/Luna-bf" target="_blank">
				<i class="fa-brands fa-github"></i>
			</a>
			<a href="https://www.linkedin.com/in/luna-buratti-fayolle/" target="_blank">
				<i class="fa-brands fa-linkedin"></i>
			</a>
		</div>
	</footer>
{% endblock %}
