* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

.task>input:checked+label {
    /*si label a son input coché alors {...} */
    color: #777;
    text-decoration: line-through;
}

form .form-group {
    margin: 0.5em 0;
}

/* Priorités et catégories */
.priority-1 {
    color: red;
}

.priority-2 {
    color: forestgreen;
}

.priority-3 {
    color: mediumblue;
}

.category {
    color: #aaaaaa;
    margin-right: 10px;
}

#all-tasks {
    background-color: #fff;
    width: 50%;
}

li {
    margin-bottom: 0.2em;
}

hr {
    margin-top: 3em;
    width: 85%;
}

.section-form {
    padding: 1.5em 0 1.5em 0;
    margin: auto;
    justify-content: center;
    justify-content: space-evenly;
}

legend {
    padding: 2px 11px 2px 11px;
}

#create-task-form,
#create-filter-form {
    width: 75%;
    padding-bottom: 35px;
    background-color: #fff;
    flex-wrap: nowrap;
}

span {
    margin-left: 5px;
}