main>.action {
    margin-top: 80px;
    justify-content: center;
    flex-direction: column;
}

main .action>h1 {
    margin-bottom: 50px;
}

main .action>a {
    font-family: "Poppins-Regular";
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
    color: #1B9675;
    border: 1px solid #1B9675;
    text-decoration: none;
    padding: 8px 15px 8px 15px;
    align-self: center;
    align-items: center;
}

main .action a>i {
    margin-right: 8px;
    font-size: 13px;
}

main .action>a:hover {
    background-color: #1B9675;
    color: #fff;
}

.all-tasks {
    justify-content: center;
    margin-top: 80px;
}

.all-tasks ul>li {
    font-family: "Poppins-Light";
    margin-bottom: 20px;
    align-items: center;
}

.task>input:checked+label {
    /*si label a son input coché alors {...} */
    color: #777;
    text-decoration: line-through;
}

/* Priorités et catégories */
.priority-1 {
    color: red;
}

.priority-2 {
    color: forestgreen;
}

.priority-3 {
    color: mediumblue;
}

.category {
    color: #aaaaaa;
    margin-right: 10px;
}

.task>.edit-button {
    font-family: "Poppins-Regular";
    align-items: center;
    border: 1px solid #198754;
    background-color: #fff;
    color: #198754;
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
    font-size: 13px;
}

.task .edit-button>i {
    margin-right: 7px;
}

.task>.edit-button:hover {
    border: 1px solid #198754;
    background-color: #198754;
    color: #fff;
    cursor: pointer;
}

.task .delete-button form>.delete {
    font-family: "Poppins-Regular";
    align-items: center;
    border: 1px solid #b22222;
    background-color: #fff;
    color: #b22222;
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
    font-size: 13px;
    margin-left: 8px;
}

.task .delete-button form .delete>i {
    margin-right: 7px;
}

.task .delete-button form>.delete:hover {
    border: 1px solid #b22222;
    background-color: #b22222;
    color: #fff;
    cursor: pointer;
}

.task>label,
.task>span {
    margin-left: 5px;
}

.action-buttons {
    margin-top: 30px;
}