@use "../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"; // Importation des icônes GitHub et LinkedIn

/*** FOOTER ***/
.footer-dynamic {
    flex-direction: row;
    justify-content: center;
    padding: 1.3em;
    background-color: #333D65;
}

.footer-absolute {
    padding: 1.3em;
    background-color: #333D65;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* socials-icons */
.socials-icons {
    justify-content: center;
}

.socials-icons a>i {
    font-size: 42px;
}

.fa-github {
    color: #000000;
}

.fa-linkedin {
    color: #0077B5;
    margin-left: 20px;
}