nav {
    font-family: "Poppins-Light", sans-serif;
    justify-content: space-between;
    align-items: center;
    background-color: #333D65;
    color: #fff;
    padding: 1.3em;
}

nav>h2 {
    font-family: "Poppins-Light", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

nav>ul {
    list-style-type: none;
    font-size: 17px;
}

.nav-links {
    flex-direction: row;
    align-content: center;
}

.nav-links>p {
    margin: 0 10px 0 10px;
}

li>a {
    text-decoration: none;
    color: #fff;
}