nav {
    font-family: "Poppins-Light", sans-serif;
    background-color: #333D65;
    padding: 1.5em;
}

nav .language-forms>form {
    width: 18.5%;
}

nav .language-forms>p {
    margin: 0 13px 0 13px;
}

nav>ul {
    font-size: 17px;
}

.actions li>p {
    margin: 0 10px 0 10px;
}