<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Base template
			{% endblock %}
		</title>
		<link rel="icon" type="image/x-icon" href="assets/imgs/favicon-48x48.png">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        type="text/css">
		<link rel="stylesheet" href="/style/main.css">
	</head>

	<body>
		{% include "inc/_header.html.twig" %}
		{% block main %}{% endblock %}
		{% include "inc/_footer.html.twig" %}
	</body>
</html>
