<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Base template
			{% endblock %}
		</title>
		{% block favicon %}
			<link rel="icon" type="image/x-icon" href="assets/imgs/favicon-48x48.png">
		{% endblock %}
		<link rel="stylesheet" href="/style/main.css">
	</head>

	<body>
		{% include "inc/_header.html.twig" %}
		{% block main %}{% endblock %}
		{% block footer %}
			{% include "inc/_footer.html.twig" %}
		{% endblock %}
	</body>
</html>
