<footer class="{{ class }}">
	<div class="d-flex justify-content-center socials-icons">
		<a href="https://github.com/Luna-bf" target="_blank">
			<i class="fa-brands fa-github text-black"></i>
		</a>
		<a href="https://www.linkedin.com/in/luna-buratti-fayolle/" target="_blank">
			<i class="fa-brands fa-linkedin"></i>
		</a>
	</div>
</footer>
