{% block header %}
	<header>
		<nav class="d-flex">
			<div class="d-flex language-forms">
				<form action="" method="post" class="d-flex">
					<input type="image" src="/assets/imgs/flags/france-flag-80x53.png" alt="France flag">
				</form>
				<p>|</p>
				<form action="" method="post" class="d-flex">
					<input type="image" src="/assets/imgs/flags/uk-flag-80x53.png" alt="France flag">
				</form>
			</div>

			<input type="checkbox" id="check">

			<ul class="d-flex actions">
				<label for="check" class="close-menu">
					<i class="fa-solid fa-xmark"></i>
				</label>
				{% if user_id %}
					<li class="d-flex nav-links">
						<a href="/logout">Déconnexion</a>
						<p>|</p>
						<a href="/user/account">{{ user.username }}</a>
					</li>
				{% else %}
					<li class="d-flex nav-links">
						<a href="/">Inscription</a>
						<p>|</p>
						<a href="/form/login">Connexion</a>
					</li>
				{% endif %}
			</ul>

			<label for="check" class="open-menu">
				<i class="fa-solid fa-bars"></i>
			</label>
		</nav>
	</header>
{% endblock %}
