{% block header %}
	<header>
		<nav class="d-flex">
			<h2>Todo List</h2>
			<ul class="d-flex actions">
				{% if user_id %}
					<li class="d-flex nav-links">
						<a href="/logout">Déconnexion</a>
						{# <form action="/logout" method="post">
							<input type="submit" name="logout" value="Déconnexion"/>
						</form> #}
						<p>|</p>
						<a href="#">{{ username }}</a>
					</li>
				{% else %}
					<li class="d-flex nav-links">
						<a href="/form/register">Inscription</a>
						<p>|</p>
						<a href="/form/login">Connexion</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	</header>
{% endblock %}
