{% extends "base.html.twig" %}

{% block title %}Modification du mot de passe - Todo List PHP
{% endblock %}

{% block favicon %}
	<link rel="icon" type="image/x-icon" href="../../assets/imgs/favicon-48x48.png">
{% endblock %}

{% block main %}
	<main class="d-flex profile-form">
		<form action="/user/updatePassword?id={{ user.user_id }}" method="post">
			<div class="form-container">
				<h1>Modifiez votre mot de passe</h1>

				{# Ancien mot de passe #}
				<div class="d-flex form-input">
					<label for="old_password" class="form-label">Ancien mot de passe</label>
					<input type="password" name="old_password" id="old_password" value="" required/>
				</div>

				{# Nouveau mot de passe #}
				<div class="d-flex form-input">
					<label for="new_password" class="form-label">Nouveau mot de passe</label>
					<input type="password" name="new_password" id="new_password" value="" required/>
				</div>

				{# Confirmez le mot de passe #}
				<div class="d-flex form-input">
					<label for="confirm_password" class="form-label">Confirmez le mot de passe</label>
					<input type="password" name="confirm_password" id="confirm_password" value="" required/>
				</div>

				<div class="form-message error-message">
					<p>{{ message }}</p>
				</div>

				<!-- Bouton de validation -->
				<div class="d-flex submit-input" id="update-submit">
					<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
					<input type="submit" name="update-password" id="update-password" class="d-flex" value="Valider"/>
				</div>
			</div>
		</form>
	</main>
{% endblock %}

{% block footer %}
	<footer class="footer-absolute">
		<div class="socials-icons d-flex">
			<a href="https://github.com/Luna-bf" target="_blank">
				<i class="fa-brands fa-github"></i>
			</a>
			<a href="https://www.linkedin.com/in/luna-buratti-fayolle/" target="_blank">
				<i class="fa-brands fa-linkedin"></i>
			</a>
		</div>
	</footer>
{% endblock %}
